.abt {
  margin-top: 0px;
  position: relative;
  padding-left: 10px;
  text-align: left;
  top: 15.5cm;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.abt_title {
  font-size: 45px;
  letter-spacing: 3px;
  align-self: flex-start;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.para_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  margin-top: 20px;
}

.para1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: justify;
}

.para {
  color: rgb(78, 225, 78);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  font-weight: 250;
}

.hidden {
  display: none;
}

.read {
  margin-top: 20px;
  width: 100px;
  height: 45px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
  border-radius: 6px;
}

.read:hover {
  background-color: white;
  color: green;
}

.cont-title {
  color: white;
  letter-spacing: 3px;
  margin-right: 20px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}

.cont-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 40px;
}

.cont-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 8px;
  right: 8px;
}

.cont-list li {
  margin: 0 10px;
}

.cont-list li a {
  color: white;
  text-decoration: none;
}

.cont-list li a .fa {
  font-size: 30px;
  transition: color 0.3s;
}

.cont-list li a:hover .fa-twitter {
  color: #00aced; /* Change to desired hover color */
}
.cont-list li a:hover .fa-facebook {
  color: #3b5999; /* Change to desired hover color */
}
.cont-list li a:hover .fa-google-plus {
  color: #dd4b39; /* Change to desired hover color */
}
.cont-list li a:hover .fa-linkedin {
  color: #0077b5; /* Change to desired hover color */
}
.cont-list li a:hover .fa-instagram {
  background: -webkit-linear-gradient(
    left,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
